:root {
    --white: hsl(0, 0%, 100%);

    --blue-bg: hsl(222, 26%, 31%);
    --blue-keypad: hsl(223, 31%, 20%);
    --blue-screen: hsl(224, 36%, 15%);
    --blue-key: hsl(225, 21%, 49%);
    --blue-key-hover: hsl(225, 32%, 62%);
    --blue-shadow: hsl(224, 28%, 35%);
    --red-key: hsl(6, 63%, 50%);
    --red-key-hover: hsl(6, 82%, 63%);
    --red-shadow: hsl(6, 66%, 43%);
    --light-orange-key: hsl(30, 25%, 89%);
    --light-orange-key-hover: hsl(0, 0%, 100%);
    --light-orange-shadow: hsl(28, 16%, 65%);
    --blue-text: hsl(221, 14%, 31%);

    --veige-bg: hsl(0, 0%, 90%);
    --veige-keypad: hsl(0, 5%, 81%);
    --veige-screen: hsl(0, 0%, 93%);
    --cyan-key: hsl(185, 42%, 37%);
    --cyan-key-hover: hsl(185, 47%, 42%);
    --cyan-shadow: hsl(185, 58%, 25%);
    --orange-key: hsl(25, 98%, 40%);
    --orange-key-hover: hsl(25, 100%, 60%);
    --orange-shadow: hsl(25, 99%, 27%);
    --veige-key: hsl(45, 7%, 89%);
    --veige-key-hover: hsl(0, 0%, 100%);
    --veige-shadow: hsl(35, 11%, 61%);
    --green-text: hsl(60, 10%, 19%);

    --violet-bg: hsl(268, 75%, 9%);
    --violet-keypad: hsl(268, 71%, 12%);
    --violet-key: hsl(281, 89%, 26%);
    --violet-key-hover: hsl(281, 85%, 39%);
    --magenta-shadow: hsl(285, 91%, 52%);
    --green-key: hsl(176, 100%, 44%);
    --green-key-hover: hsl(176, 81%, 81%);
    --green-shadow: hsl(177, 95%, 84%);
    --dark-violet-key: hsl(268, 47%, 21%);
    --dark-violet-key-hover: hsl(268, 53%, 41%);
    --violet-shadow: hsl(290, 70%, 36%);
    --yellow-text: hsl(52, 100%, 62%);
    --dark-blue: hsl(198, 20%, 13%);

    --fuente-principal: 'League Spartan', sans-serif;
    --font-size: 3.2rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}
body {
    font-size: 1.6rem;
    font-family: var(--fuente-principal);
    font-weight: 700;
    background-color: var(--blue-bg);
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* calculadora */
.calculadora {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    color: var(--white);
}
.calculadora__header {
    display: flex;
    justify-content: space-between;
}
.calculadora__nombre-texto {
    font-size: 3.2rem;
    margin: 1rem 0 0 0;
}
.calculadora__temas {
    font-size: 1.2rem;
}
.calculadora__temas-num {
    display: flex;
    justify-content: flex-end;
}
.calculadora__temas--numeros {
    display: flex;
    justify-content: space-around;
    width: 8rem; 
}
.calculadora__temas--numero {
    margin: 0 0 0.5rem 0;  
}
.calculadora__temas-activador {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}
.calculadora__temas-p {
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.15rem;
}
.calculadora__temas-widget {
    width: 8rem;
    height: 3rem;
    background-color: var(--blue-keypad);
    border-radius: 3rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.calculadora__temas-circulo {
    border-radius: 50%;
    background-color: var(--red-key);
    width: 2rem;
    height: 2rem;
    margin: 0;
    cursor: pointer;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transform: translateX(0);
}
.calculadora__temas-circulo:active {
    background-color: var(--red-key-hover);
}
.active-t2 {
    transform: translateX(2.5rem);
}
.active-t2:active {
    background-color: var(--orange-key-hover);
}
.active-t3 {
    transform: translateX(5rem);
}
.active-t3:active {
    background-color: var(--green-key-hover);
}
.pantalla {
    width: 100%;
    height: 9rem;
    background-color: var(--blue-screen);
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    margin-top: 3.5rem;
    color: var(--white);
}
@media (min-width: 768px) {
    .pantalla {
        height: 10rem;
    }
}
.pantalla__numeros {
    font-size: 3.2rem;
    margin: 0;
    text-align: end;
}
@media (min-width: 768px) {
    .pantalla__numeros {
        font-size: 4.6rem;
    }
}
.teclado {
    margin-top: 3rem;
    padding: 2.5rem;
    background-color: var(--blue-keypad);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
@media (min-width: 768px) {
    .teclado {
        gap: 2.5rem
    }
}
.boton:nth-child(17) {
    grid-column: 1 / 3;
}
.boton:nth-child(18) {
    grid-column: 3 / 5;
}
.boton__tecla {
    width: 100%;
    height: 100%;
    font-size: 3.2rem;
    font-weight: 700;
    padding: 1.5rem 0;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--light-orange-key);
    color: var(--blue-text);
    box-shadow: 0 4px 0 0 var(--light-orange-shadow);
}
.boton__tecla:hover {
    background-color: var(--light-orange-key-hover);
    
}
.boton__tecla--eliminar {
    background-color: var(--blue-key);
    box-shadow: 0 4px 0 0 var(--blue-shadow);
    color: var(--white);
    text-transform: uppercase;
    font-size: 2.2rem;
}
.boton__tecla--eliminar:hover {
    background-color: var(--blue-key-hover);
}
.boton__tecla--igual {
    background-color: var(--red-key);
    box-shadow: 0 4px 0 0 var(--red-shadow);
    color: var(--white);
}
.boton__tecla--igual:hover {
    background-color: var(--red-key-hover);
}
/* clases para crear los nuevos temas */
/*fondo principal*/
.main-bg-t2 {
    background-color: var(--veige-bg);
}
.main-bg-t3 {
    background-color: var(--violet-bg);
}
/*textos del header de la calculadora*/
.text-green {
    color: var(--green-text);
}
.text-yellow {
    color: var(--yellow-text);
}
/*NOTA: estos dos sirven para el fondo del teclado y del toogle*/
.bg-veige-t2 {
    background-color: var(--veige-keypad);
}
.bg-violet-t3 {
    background-color: var(--violet-keypad);
}
/*circulo del toogle*/
.circulo-t2 {
    background-color: var(--orange-key);
}
.circulo-t3 {
    background-color: var(--green-key);
}
/*pantalla*/
.bg-pantalla-t2 {
    background-color: var(--veige-screen);
    color: var(--green-text);
}
.bg-pantalla-t3 {
    background-color: var(--violet-keypad);
    color: var(--yellow-text);
}
/*botones*/
.boton__tecla-t2 {
    background-color: var(--veige-key);
    box-shadow: 0 4px 0 0 var(--veige-shadow);
    color: var(--green-text);
}
.boton__tecla-t2:hover {
    background-color: var(--veige-key-hover);
}
.boton__tecla-t3 {
    background-color: var(--dark-violet-key);
    box-shadow: 0 4px 0 0 var(--violet-shadow);
    color: var(--yellow-text);
}
.boton__tecla-t3:hover {
    background-color: var(--dark-violet-key-hover);
}
/*botones de eliminar*/
.eliminar-t2 {
    background-color: var(--cyan-key);
    box-shadow: 0 4px 0 0 var(--cyan-shadow);
    color: var(--white);
}
.eliminar-t2:hover {
    background-color: var(--cyan-key-hover);
}
.eliminar-t3 {
    background-color: var(--violet-key);
    box-shadow: 0 4px 0 0 var(--magenta-shadow);
    color: var(--white);
}
.eliminar-t3:hover {
    background-color: var(--violet-key-hover);
}
/*boton de igual*/
.igual-t2 {
    background-color: var(--orange-key);
    box-shadow: 0 4px 0 0 var(--orange-shadow);
    color: var(--white);
}
.igual-t2:hover {
    background-color: var(--orange-key-hover);
}
.igual-t3 {
    background-color: var(--green-key);
    box-shadow: 0 4px 0 0 var(--green-shadow);
    color: #000;
}
.igual-t3:hover {
    background-color: var(--green-key-hover);
}