//fuentes
$fuentePrincipal: 'Space Grotesk', sans-serif;

//colores
$white: hsl(0, 0%, 100%);
$lightViolet: hsl(270, 3%, 87%);
$violet: hsl(279, 6%, 55%);
$darkViolet: hsl(278, 68%, 11%);
$grisClaro: #f1f1f1;

//widths
$mobile: 375px;
$desktop: 768px;

